body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url(https://images.wallpaperscraft.com/image/single/evening_table_dinner_restaurant_coast_look_fires_garland_48367_3840x2160.jpg);
  background-attachment: fixed;
  background-size: cover;
}

button {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: transform 0.3s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-20%);
}

.content {
  height: 100vh;
}

.header {
  text-align: center;
  margin: auto;
}

.main {
  text-align: center;
  margin: auto;
  max-width: 700px;

  height: 600px;
  background-color: rgba(255, 255, 255, 0.35);
}

.footer {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}
